 {% extends 'appOne/base.html' %}
{% load static %}

{% block selfResource %}
    <script src="{% static 'mine/js/minelogin.js' %}"></script>
    <link rel="stylesheet" href="{% static 'mine/css/minelogin.css' %}">
{% endblock %}

{% block pageTitle %}

{% endblock %}

{% block headername %}

{% endblock %}

{% block content %}
    <span id="top_span"></span>
    <div id="div_mineregedit">

        <form action="{% url 'axf:dologin' %}">

            <input type="text" name="username" placeholder="账号" class="input_name form-control"><span
                id="span_name"></span>
            <input class='input_password form-control' type="password" name="password" placeholder="密码"><span
                id="span_password"></span>
            <input type="submit" value="登录" class="input_submit btn btn-info">

        </form>
        <a href="{% url 'axf:loadregedit' %}" class="a_class">没有账号？去注册吧</a>
        <a href="{% url 'axf:mine' %}"><div id="div_back">&lt;</div></a>
    </div>

    <div class="swiper-container" id="swiperMustbuy">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <a href="#"><img src="{% static 'mine/img/foot1.png' %}"/></a>
            </div>
            <div class="swiper-slide">
                <a href="#"><img src="{% static 'mine/img/foot2.png' %}"/></a>
            </div>

        </div>
    </div>
{% endblock %}


